@use "~styles/theme.scss" as theme;

.loader {
    width: 2.25rem;
    aspect-ratio: 1;
    overflow: hidden;
    flex: 0 0 auto;
    justify-items: center;
    align-content: center;

    &__box {
        width: 90%;
        height: 90%;
        border-radius: 100%;
        background:
            radial-gradient(farthest-side, theme.$color-brand 100%, #0000) top / 0.3rem 0.3rem no-repeat,
            conic-gradient(#0000 30%, theme.$color-brand);
        mask: radial-gradient(farthest-side, #0000 calc(100% - 0.3rem), #000 0);
        animation:
            zoomInWithRotation 0.7s linear 0s 1 normal forwards,
            rotate 1s linear 0.7s infinite normal forwards;

        &--exit-delay {
            animation:
                zoomInWithRotation 0.7s linear 0s 1 normal forwards,
                rotate 1s linear 0.7s infinite normal forwards,
                zoomOutWithRotation 0.5s linear var(--exitDelay) 1 normal forwards;
        }
    }

    &--flex-size {
        width: min(25%, 8rem);
    }
}
